@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
    --cor-1: #f10713; 
    --cor-2: #940606;
    --cor-3: #000000;
    --cor-p: #ffffff; 
}

body {
    font-family: 'Chakra Pecht', sana-serif;
    color: var(--cor-p);
    background: var(--cor-3);
    margin: 40px;
}

h1, h2, h5 {
    color: var(--cor-2);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-1);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-2);
}

a:hover {
    color: var(--cor-1);
}